@page
@model WebbilirCRUD.Pages.Students.IndexModel
@{
}

<br>
<h2>List of Students</h2>
<a class="btn btn-primary btn-sm" href="/Students/Create">New Student</a>
<table class="table">
    <thead>
        <tr>
            <tr>
            <th>   </th>
            <th>Name</th>
            <th>Id</th>
            <th>Class</th>
            <th>Action</th>
            
            </tr>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
        }
        @foreach (var student in Model.listStudents)
        {
            <tr>
                <td>@(i++)</td>
                <td>@student.Name</td>
                <td>@student.Id</td>
                <td>@student.Class.ClassName</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Students/Edit?id=@student.Id">Update</a>
                    <a class="btn btn-danger btn-sm" href="/Students/Delete?id=@student.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
